/.DS_Store
/.pytest_cache
/.vscode
/__pycache__
/venv
Tests/__pycache__/test_example.cpython-313-pytest-8.3.5.pyc
main.py
Tests/__pycache__/test_example.cpython-313-pytest-8.3.5.pyc
Tests/__pycache__/test_user_scenarios.cpython-313-pytest-8.3.5.pyc
Tests/__pycache__/test_admin_scenarios.cpython-313-pytest-8.3.5.pyc
main_admin.py
main_user.py
Tests/.DS_Store
